<div> 
  <form>
  <label for="title">Title:</label>
  <textarea type="text" id="title" name="title">{{title}}</textarea><br><br>
  <label for="content">Content:</label>
  <textarea type="text" id="content" name="content">{{content}}</textarea><br><br>
  </form>
  <div>
    <button data-id="{{id}}">DELETE</button>
  </div>
  <div>
    <button data-id="{{id}}">EDIT</button>
  </div>
</div>